<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="TestSuite">
<groups>
<run>
	<exclude name = "feature1" />
</run>
</groups>
  <test name="ModuleTest1">
    <classes>
      <class name="com.sampletestng.SampleClass"/>
      <class name="com.sampletestng.SampleClassThree"/>
    </classes>
  </test> <!-- ModuleTest1 -->
</suite> <!-- TestSuite -->
